@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-style: oblique;
}

a {
    /* text-decoration: none; */
    font-style: oblique;
    color: dodgerblue;
}

a:hover {
    /* text-decoration: none; */
    text-decoration: underline;
    font-style: oblique;
    color: rgb(0, 68, 255);
}

a:visited {
    /* text-decoration: none; */
    text-decoration: underline;
    font-style: oblique, italic;
    color: rgb(162, 0, 255);
}

div {
    display: inline-block;
    position: absolute;
    padding: 12px;
    z-index: 2;
}

.servlist {
    background-color: rgb(139, 226, 255);
}

.splash {
    background-image: url("images/splash.webp");
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    position: relative;
}
